.App {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #282c34;
  height: 15vh;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-logo {
  margin-left: 15px;
  height: 60px;
  display: flex;
}

.header-search-box {
  margin-right: 15px;
}

.app-content {
  padding: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
